body {
  padding: 10px 20px;
}

.inputs * {
  display: block;
}

textarea {
  border: 2px dashed black;
  color: black;
  font-size: 16px;
  font-family: monospace;
  height: 3in;
  overflow: auto;
  width: 100%;
  margin-bottom: 5px;
}

code {
  padding: 0 2px;
  background: #ddd;
  font-size: 16px;
}

code.error {
  background: #f25;
}
